<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SSO Aarhus</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
    <link rel="icon" type="image/png" href="../images/SSO.jpg">
</head>
<body>
<div class="common-header"></div>

<div class="container">
    <h1>SSO Afdeling I Aarhus</h1>
    <p>Velkommen til vores afdeling i Aarhus! Vi arbejder for at fremme kultur, fællesskab og netværk i hjertet af Danmarks næststørste by.</p>
    <p> Vi stræber efter at udvide vores reach og skabe stærkere forbindelser mellem unge på tværs af byer.</p>
    <div class="image-container">
        <img src="../images/img_4.png" alt="Billede af Aarhus" class="hero-image">
        <img src="../images/img_5.png" alt="Billede af Aarhus" class="hero-image">
    </div>

    <p>Bliv en del af SSO Aarhus i dag og vær med til at skabe et stærkt og engageret fællesskab.</p>
    <p>Vi glæder os til at se dig!</p>
</div>
<footer class="common-footer"></footer>
<script src="../js/footer.js"></script>
<script src="../js/header.js"></script>
</body>
</html>
