<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SSO Aarhus</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
    <link rel="icon" type="image/png" href="../images/SSO.jpg">
</head>
<body>
<div class="common-header"></div>

<div class="container">
    <h1>SSO Afdeling Aarhus</h1>
    <p>Velkommen til vores afdeling i Aarhus! Vi arbejder for at fremme kultur og fællesskab i Danmarks næststørste by.</p>
    <img src="../images/aarhus.jpg" alt="Billede af Aarhus" class="hero-image">
    <p>Vi glæder os til at se dig til vores næste event.</p>
</div>
<footer class="common-footer"></footer>
<script src="../js/footer.js"></script>
<script src="../js/header.js"></script>
</body>
</html>
