<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div th:replace="~{common-header}"></div>

<header> <img src="../images/sso%20logo%20skrift.jpg" alt="Beskrivelse af billedet">
    <div class="navbar">
        <a href="../templates/index.html" class="nav-link">Hjem</a>
        <a href="../templates/signup.html" class="nav-link">Bliv Medlem</a>
        <a href="upcomingEvents.html" class="nav-link">Se Events</a>
        <a href="../templates/login.html" class="nav-link">Log in</a>

        <div class="dropdown">
            <a href="#" class="nav-link">Afdelinger</a>
            <div class="dropdown-content">
                <a href="../templates/copenhagen.html" id="btn-cph">København</a>
                <a href="../templates/odense.html" id="btn-odense">Odense</a>
                <a href="../templates/aarhus.html" id="btn-aarhus">Aarhus</a>
            </div>

        </div>
        <a href="../templates/about.html" class="nav-link">About Us</a>
    </div>

</header>
<div class="container">
    <h1>Om Os</h1>
    <p>SSO Organisation er en sammenslutning dedikeret til at styrke fællesskabet og skabe fantastiske oplevelser. Vi arbejder for at bringe mennesker sammen gennem events og samarbejde på tværs af vores afdelinger i København, Odense og Aarhus.</p>
    <p>Vi tror på værdien af fællesskab og engagement. Vores mål er at skabe et netværk, hvor alle føler sig velkomne.</p>
</div>
</body>
</html>
