<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO København</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
    <link rel="icon" type="image/png" href="../images/SSO.jpg">
</head>
<body>
<div class="common-header"></div>

<div class="container">
    <h1>SSO Afdeling I København</h1>
    <p>Velkommen til SSO København! Vi fokuserer på at skabe en dynamisk og engageret fællesskabsoplevelse i hjertet af Danmark.</p>
    <p>SSO København samler studerende og unge professionelle gennem workshops og sociale arrangementer. Kontakt os for mere information om vores kommende arrangementer og initiativer.</p>
    <p>Bliv en del af SSO København i dag og vær med til at skabe et stærkt og engageret fællesskab.</p>
    <p>Vi glæder os til at se dig.</p>

    <!-- Flex container for video and images -->
    <div class="media-container">
        <!-- Video sektion (Venstre side) -->
        <div class="video-container">
            <video autoplay loop muted>
                <source src="../vids/ssstik.io_@sso.kbh_1734535630310.mp4" type="video/mp4">
            </video>
        </div>

        <!-- Billeder sektion (Højre side) -->
        <div class="image-container">
            <img src="../images/IMG_2816.jpg" alt="Billede af København" class="hero-image">

        </div>
    </div>
</div>

    <footer class="common-footer"></footer>
    <script src="../js/footer.js"></script>
    <script src="../js/header.js"></script>
</body>
</html>
