<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SSO København</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
</head>
<body>
<header>
    <div class="navbar">
        <a href="../templates/index.html" class="nav-link">Hjem</a>
        <a href="../templates/about.html" class="nav-link">About Us</a>
        <a href="../templates/upcomingEvents.html" class="nav-link">Se Events</a>    </div>
</header>
<div class="container">
    <h1>SSO Afdeling I København</h1>
    <p>Velkommen til SSO København! Vi fokuserer på at skabe en dynamisk og engageret fællesskabsoplevelse i hjertet af Danmark.</p>
    <p>Kontakt os for mere information om vores kommende arrangementer og initiativer.</p>
    <img src="../images/sso%20kbh%20billede%231.jpg" alt="Billede af København" class="hero-image">

</div>
</body>
</html>
