<div class="footer-container">

    <div class="footer-contact">
        <h4>Kontakt Os</h4>
        <p><strong>Telefon nr.:</strong> +45 123 456 789</p>
        <p><strong>Navn:</strong> Somalisk Studenterorganisation</p>
    </div>

    <!-- Social Media section -->
    <div class="footer-follow">
        <h4>Sociale Medier</h4>
        <div class="social-buttons">
            <a href="https://www.facebook.com/SSODanmark/" target="_blank" class="social-btn">
                <img src="../images/icons8-facebook-100.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com/ssokoebenhavn/" target="_blank" class="social-btn">
                <img src="../images/icons8-instagram-128.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.linkedin.com/company/somalisk-studenterorganisation/?originalSubdomain=dk" target="_blank" class="social-btn">
                <img src="../images/icons8-linkedin-100.png" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://www.tiktok.com/@sso.kbh" target="_blank" class="social-btn">
                <img src="../images/icons8-tiktok-100.png" alt="TikTok" class="social-icon">
            </a>
        </div>
    </div>
</div>