<header>
    <img src="../images/header-logo.png" alt="SSO logo" class="logo">
    <div class="navbar">
        <a href="../templates/index.html" class="nav-link">Hjem</a>
        <a href="../templates/login.html" class="nav-link">Bliv Medlem</a>
        <a href="../templates/about.html" class="nav-link">Om os</a>
        <a href="../templates/view-upcoming-events.html" class="nav-link">Se Events</a>
        <a href="../templates/login.html" class="nav-link">Log ind</a>
        <div class="dropdown">
            <a href="#" class="nav-link">Afdelinger</a>
            <div class="dropdown-content">
                <a href="../templates/copenhagen.html" id="btn-cph">København</a>
                <a href="../templates/odense.html" id="btn-odense">Odense</a>
                <a href="../templates/aarhus.html" id="btn-aarhus">Aarhus</a>
            </div>
        </div>
    </div>
</header>
