<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO Organisation</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
    <div class="navbar">
        <a href="#" class="nav-link">Bliv Medlem</a>
        <a href="#" class="nav-link">Se Events</a>
        <div class="dropdown">
            <a href="#" class="nav-link">Afdelinger</a>
            <div class="dropdown-content">
                <a href="../templates/copenhagen.html" id="btn-cph">København</a>
                <a href="../templates/odense.html" id="btn-odense">Odense</a>
                <a href="../templates/aarhus.html" id="btn-aarhus">Aarhus</a>
            </div>
        </div>
        <a href="../templates/about.html" class="nav-link">About Us</a>
        <a href="../templates/login.html" class="nav-link" id="login-link">Log ind</a>
    </div>
</header>
<div class="container">
    <h1>Velkommen til SSO Organisation</h1>
    <p>Udforsk vores tjenester og afdelinger.</p>
    <img src="../images/SSO.jpg" alt="Beskrivelse af billedet">
</div>
<script src="../js/script.js"></script>
</body>
</html>
