<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO Organisation</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
</head>

<body>
<!-- Placeholder for the header -->
<div class="common-header"></div>

<div class="container">
    <h1>Velkommen til SSO Organisation</h1>

    <!-- Slideshow container -->
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../images/slideshow-billede-1.jpg" alt="Slide 1">
        </div>
        <div class="mySlides fade">
            <img src="../images/slideshow-billede-2.jpg" alt="Slide 2">
        </div>
        <div class="mySlides fade">
            <img src="../images/slideshow-billede-3.jpeg" alt="Slide 3">
        </div>
        <div class="mySlides fade">
            <img src="../images/slideshow-billede-4.png" alt="Slide 3">
        </div>
        <div class="mySlides fade">
            <img src="../images/slideshow-billede-5.jpg" alt="Slide 3">
        </div>
    </div>
    <div class="mySlides fade">
        <img src="../images/slideshow-billede-6.jpg" alt="Slide 3">
    </div>
    <!-- Text below the slideshow -->
    <div class="intro-text">
        <p>Hos <strong>Somalisk Studenter Organisation (SSO)</strong> stræber vi efter at samle somaliske studerende i Danmark og skabe et stærkt fællesskab, hvor vi støtter hinanden i både personlig og faglig udvikling. Siden vores grundlæggelse har vi haft fokus på at opbygge relationer og hjælpe unge med at navigere i både uddannelsessystemet og på arbejdsmarkedet.</p>
        <p>Vores mål er at give unge studerende de nødvendige redskaber til at realisere deres potentiale og sikre, at de er godt rustet til at bidrage positivt til samfundet. Vi tilbyder et inspirerende fællesskab, hvor du kan vokse, dele erfaringer og få støtte på din rejse mod succes.</p>
    </div>
</div>

<!-- Placeholder for the footer -->
<footer class="common-footer"></footer>

<script src="../js/script.js"></script>
<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>
