<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO Organisation</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
</head>

<body>
<div th:replace="~{common-header}"></div>
<header>
    <div class="navbar">
        <button id="btn-become-member" class="btn">Become a Member</button>
        <button id="btn-view-events" class="btn">View Events</button>
        <div class="dropdown-content">
            <a href="../templates/copenhagen.html" id="btn-cph">København</a>
            <a href="../templates/odense.html" id="btn-odense">Odense</a>
            <a href="../templates/aarhus.html" id="btn-aarhus">Aarhus</a>
        </div>
        <a href="../templates/about.html" class="btn">About Us</a>
        <a href="../templates/login.html" class="btn" id="login-link">Log ind</a>
    </div>
</header>
<div class="container">
    <h1>Velkommen til SSO Organisation</h1>
    <p>Udforsk vores tjenester og afdelinger.</p>
    <img src="../images/SSO.jpg" alt="Beskrivelse af billedet">
</div>

<!-- Footer Section -->
<footer class="common-footer">
    <div class="footer-container">

        <div class="footer-contact">
            <h4>Contact Us</h4>
            <p><strong>Phone:</strong> +45 123 456 789</p>
            <p><strong>Name:</strong> Somalisk Studenterorganisation</p>
        </div>

        <!-- Social Media section -->
        <div class="footer-follow">
            <h4>Follow Us</h4>
            <div class="social-buttons">
                <a href="https://www.facebook.com/SSODanmark/" target="_blank" class="social-btn">
                    <img src="../images/facebook.webp" alt="Facebook" class="social-icon">
                </a>
                <a href="https://www.instagram.com/ssokoebenhavn/" target="_blank" class="social-btn">
                    <img src="../images/instagram%20logo.jpg" alt="Instagram" class="social-icon">
                </a>
                <a href="https://www.linkedin.com/company/somalisk-studenterorganisation/?originalSubdomain=dk" target="_blank" class="social-btn">
                    <img src="../images/circle-linkedin-512.webp" alt="LinkedIn" class="social-icon">
                </a>
                <a href="https://www.tiktok.com/@sso.odense" target="_blank" class="social-btn">
                    <img src="../images/tiktok.webp" alt="TikTok" class="social-icon">
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="../js/script.js"></script>
</body>
</html>
