<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" href="../images/SSO.jpg">
    <title>Member Dashboard</title>
</head>
<body>

<div class="common-header"></div>

<h1>Welcome, <span id="memberName">Member!</span></h1>

<div class="user-info">
    <img id="userIcon" src="../images/user-icon.png" alt="User Icon">
    <div id="userDetails">
        <p><strong>Username:</strong> <span id="username"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>

        <p><strong>Status:</strong> <span id="membershipStatus"></span></p>
        <p><strong>Department:</strong> <span id="department"></span></p>
        <p><strong>Study Field:</strong> <span id="studyField"></span></p>
        <p><strong>Education Level:</strong> <span id="educationLevel"></span></p>



        <button id="logoutButton">Log Out</button>
    </div>
</div>

<h2>Your Events</h2>
<div id="eventsList">
    <!-- Events will be dynamically loaded here -->
</div>
<footer class="common-footer"></footer>
<script src="../js/footer.js"></script>
<script src="../js/header.js"></script>
<script src="../js/member-dashboard.js"></script>
</body>
</html>

