<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mine Events</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div th:replace="~{common-header}"></div>
<header>
    <div class="navbar">
        <a href="../templates/index.html" class="nav-link">Hjem</a>
        <a href="../templates/about.html" class="nav-link">About Us</a>
        <a href="../templates/upcomingEvents.html" class="nav-link">Events</a>
    </div>
</header>
<div class="container">
    <h1>Mine Tilmeldte Events</h1>
    <ul id="events-list"></ul>
</div>
<script src="../js/myEvents.js"></script>
</body>
</html>

