<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO Odense</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
</head>
<body>

<div class="common-header"></div>

<div class="container">
    <h1>SSO Afdeling I Odense</h1>
    <p>SSO Odense blev startet på Syddansk Universitet (SDU) som et initiativ for at samle studerende og skabe et fællesskab af viden og kulturelle oplevelser..</p>
    <p>Vi tilbyder workshops og sociale arrangementer for studerende og unge i Odense. Vores mål er at fremme samarbejde, innovation og et stærkt netværk.</p>
    <p>Bliv en del af SSO Odense i dag og vær med til at skabe et stærkt og engageret fællesskab.</p>
    <p>Vi glæder os til at se dig.</p>
    <!-- Flex container for video and images -->
    <div class="media-container">
        <!-- Video sektion (Venstre side) -->
        <div class="video-container">
            <video autoplay loop muted width="100%" height="auto">
                <source src="../vids/ssstik.io_@sso.odense_1734538386579.mp4" type="video/mp4">
                <source src="../vids/your-video.webm" type="video/webm">
                <source src="../vids/your-video.ogv" type="video/ogg">
            </video>
        </div>

        <!-- Billeder sektion (Højre side) -->
        <div class="image-container">
            <img src="../images/IMG_2817.jpg" alt="Billede af SSO Odense" class="hero-image">
        </div>
    </div>
</div>

<footer class="common-footer"></footer>

<script src="../js/footer.js"></script>
<script src="../js/header.js"></script>
</body>
</html>
