<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SSO Odense</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/SSO.jpg" type="image/png">
    <link rel="icon" type="image/png" href="../images/SSO.jpg">
</head>
<body>
<header>
    <div class="navbar">
        <a href="../templates/login.html" class="nav-link">Bliv Medlem</a>
        <a href="../templates/view-upcoming-events.html" class="nav-link">Se Events</a>
        <a href="../templates/login.html" class="nav-link">Hjem</a>
        <a href="../templates/about.html" class="nav-link">About Us</a>
        <a href="../templates/view-upcoming-events.html" class="nav-link">Kommende Events</a>
    </div>
</header>
<div class="container">
    <h1>SSO Afdeling Odense</h1>
    <p>SSO Odense er centrum for innovation og samarbejde. Vi tilbyder en række aktiviteter og workshops for alle aldre.</p>
    <p>Kom og vær med i vores spændende programmer!</p>
    <img src="../images/odense.jpg" alt="Billede af Odense" class="hero-image">
</div>
</body>
</html>
