<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kommende Events</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
    <div class="navbar">
        <a href="../templates/login.html" class="nav-link">Bliv Medlem</a>
        <a href="../templates/upcomingEvents.html" class="nav-link">Se Events</a>
        <a href="../templates/index.html" class="nav-link">Hjem</a>
        <a href="../templates/about.html" class="nav-link">Om Os</a>
    </div>
</header>
<div class="container">
    <h1>Kommende Events</h1>
    <div id="upcoming-events-list" class="event-grid">
        <!-- Dynamisk liste -->
    </div>
</div>
<footer>
    <div class="footer-logo">
        <img src="../images/SSO.jpg" alt="SSO Logo">
    </div>
</footer>
<script src="../js/upcomingEvents.js"></script>
</body>
</html>
